nmdc-mass-spectrometry-metadata-generation @ git+https://github.com/microbiomedata/nmdc_mass_spectrometry_metadata_generation.git@2.12.0
minio==7.2.20
miniwdl
openai==3.19.2
openai-agents==0.22.3
pytest
pytest-cov
