nmdc-mass-spectrometry-metadata-generation @ git+https://github.com/microbiomedata/nmdc_mass_spectrometry_metadata_generation.git@20c8352de8e7a1dce009b8913287c61be58dc272
minio==7.2.18
miniwdl
openai
openai-agents
pytest
pytest-cov